.header
  padding-top: 30px
  background: grey url(../img/main/main-bg.jpg) left no-repeat
  background-size: cover
  
  &-logo
    display: flex
    justify-content: center
  &-phone
    display: inline-block
    padding: 9px 25px
    padding-left: 63px
    border-radius: 35px
    background-color: #fff
    a
      font-size: 20px
      color: $text-color-phone
  &-title
    margin-top: 118px
    font-family: Annabelle
    color: $text-color
    font-size: 60px
    text-align: center
  &-subtitle
    margin-bottom: 75px
    font-family: MuseoSansLight
    color: $text-color-phone
    font-size: 38px
    text-align: center
    span
      display: block
  &-lovers
    img
      margin-left: 59px
      max-width: 123%
    
    
